<div class="snippet snippet--sm">
  <div class="snippet__media">
    <img class="snippet__img" src="http://placehold.it/600x338" alt="Imagen">
  </div>
  <div class="snippet__body">
    <div class="tags snippet__tags">
      <a href="#" class="tag">Sección</a> <a href="#" class="tag">Etiqueta</a>
    </div>
    <div class="snippet__caption">
      <div class="snippet__title">Title</div>
      <div class="snippet__subtitle">Subtitle</div>
      <div class="snippet__text">
        <p>Some quick example text to build on the snippet title and make up the bulk of the snippet's content.</p>
      </div>
    </div>
    <div class="snippet__footer">
      <a href="#" class="btn btn-link">Link</a>
    </div>
  </div>
  <a href="#" class="snippet__link"><span class="u-sr-only">Ver más</span></a>
</div>
